/*
 *= require jquery.jsonview/jquery.jsonview
 *= require_self
 */

@import 'bootstrap';

#editor {
  height: 400px;
}

.highlight {
  padding: 1rem;
  margin: 1rem -15px;
  background-color: #f7f7f9;
}

a i.fa-times {
  color: #a94442;
}

.form-inline .fields * {
  margin-right: 5px;
}
